mixin button(css, target, text)
  - var style = ['blue', 'button']
  - if(css)
  -  style = style.concat(css)
  a(href=target, class=style.join(' ')) #{text}

mixin nice-button(css, target, text)
  - if(css)
  - css = css.concat(['nice', 'radius'])
  mixin button(css, target, text)


!!! html
//if lt IE 7
    html(class="no-js ie6 oldie", lang="en")
//if IE 7
    html(class="no-js ie7 oldie", lang="en")
//if IE 8
    html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    
    title= title
    
    // include CSS Files
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    
    |   <!--[if lt IE 9]>
    |   <link rel="stylesheet" href="stylesheets/ie.css">
    |   <![endif]-->

    |   <!-- IE Fix for HTML5 Tags -->
    |   <!--[if lt IE 9]>
    |     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    |   <![endif]-->
  
  body
    // container
    .container
      .row
        div(class'twelve columns')
          h2 #{title}
      .row
        div(class='eight columns')
          .row
            div(class='twelve columns events')
              a(id='event-button-1', class='blue button nice radius', href='#') Trigger event 1
              a(id='event-button-2', class='blue button nice radius', href='#') Trigger event 2
              a(id='event-button-3', class='blue button nice radius', href='#') Trigger event 3
              
          .row
            div(class='twelve columns')
              h4 Output this will autoreload in my browser
              strong This is the output that would be presented in a production environment
              .panel
                ul.event-container
          .row
            div(class='twelve columns')
              h4 Client log
              strong Listens to channel /log/client. Client log is used for debugging.
              .panel
                ul.client-log-container
          .row
            div(class='twelve columns')
              h4 Server log
              strong Listens to channel /log/server. Server log is used for debugging.
              .panel
                ul.server-log-container
                                    
        div(class='four columns')
          .row
            div(class='twelve columns')
            .panel
              h4 Trigger event 1
              p Trigger a client event that gets published to the client application.
              
              h4 Trigger event 2
              p Send a client event to the server.
              
              h4 Trigger event 3
              p Trigger a client event that gets sent to the server, server then sends the event back to the client application that then handle the event.
                     
              h4 Output
              strong Another output container
              ul.event-container

    // container
    // Included JS Files
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/modernizr.foundation.js')
    script(src='javascripts/foundation.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/app.js')
    script(src='javascripts/pubsub.js')
    script(src='javascripts/mustache.js')
            // | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>